<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PropagateFrequencyServer" value="00:00:00.050" />
    <add key="PropagateFrequencyClient" value="00:00:00.050" />
    <add key="ServerPortNumber" value="4450" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>