<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HelloGame.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HelloGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="PropagateFrequencyServer" value="00:00:00.050"/>
    <add key="PropagateFrequencyClient" value="00:00:00.050"/>
    <add key="ServerPortNumber" value="4450"/>
  </appSettings>

  <userSettings>
    <HelloGame.Client.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayerName" serializeAs="String">
        <value />
      </setting>
      <setting name="SpawnServer" serializeAs="String">
        <value>False</value>
      </setting>
    </HelloGame.Client.Properties.Settings>
    <HelloGame.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayerName" serializeAs="String">
        <value />
      </setting>
    </HelloGame.Properties.Settings>
  </userSettings>
  
</configuration>